// Заголовки, общие БЄМ блоки и проче...

.title {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
}

.scroll {
  position: fixed;
  z-index: 10;
  bottom: -250px;
  left: 5px;

  @include adaptiveValue('height', 45, 30);
  @include adaptiveValue('width', 45, 30);
  background: url('@img/general/scroll.svg') center / cover no-repeat;
  transition: transform 1s;

  &:hover {
    transform: translateY(10px);
  }
}
